:root{
    --primary-color: #2095ae;
    --white-color:#fff;
    --light-grey-color:#ddd;
    --blue-color:#0f2454; 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
html{
    font-size: 16px;
}
/* ------------------------utiliy class-------------------- */
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    overflow: hidden ;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}

.heading-normal-text{
    font-size: 1rem;
    letter-spacing: 6px;
    color: var(--primary-color);

}
.headings{
    font-size: 3rem;
    font-family: "ubuntu";
    letter-spacing: 2px;
    padding-bottom: 2rem;
}
.headings span{
    color: var(--primary-color)
}
.secondary-headings{
    font-size: 2.5rem;
    font-family: "ubuntu";
    padding: 1rem 0;

}
.lead{
    font-size: 1.1rem;
    line-height: 2;
    text-align: justify;
}
.primary-btn{
    width: 50%;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
}
/* ---------------------header---------------------- */
header{
    padding: 1rem 0;
    /* background-color: var(--primary-color); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    height: 100%;
    width: 100%;

}
.logo img{
    height: 100%;
    width: 20%;
    object-fit: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul{
    list-style-type:none;
    display: flex;

}
nav ul li{
    margin: 0 0.9rem;
    position: relative;
}
nav ul li a{
    color: var(--white-color);
    font-size: 1.1rem;
    text-decoration: none;
}
nav ul li::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 3px;
    background-color:var(--white-color);
    opacity: 0; 
    transition: all 0.3s ease-in;

}
nav ul li:hover::before{
    opacity: 1;
    width: 100%;

}

.btn{
    font-size: 1.3rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}
/* ----------------------showpic------------------------ */
main{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

}
.swiper{
    height: 100vh;
    
}
.slide-container{
    width: 100%;
}
.slide-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-overlay{
    position: absolute;
    z-index:5;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 100%;
    font-family: "ubuntu";
    transform: translate(-50%,-50%);

}
.img-overlay p{
    font-size: 2rem;
    letter-spacing: 8px;
    color: var(--white-color);
    animation: animate 2s forwards;
}
.img-overlay h2{
    font-size: 5rem;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 8px;
    animation: animate 2s forwards;
    transition:all 1s ease-in-out ;
}
.overlay{
    position: relative;
}
.overlay::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
@keyframes animate{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    50%{
        opacity: 0.2;
    }
    70%{
        opacity: 0.5;
    }
    70%{
        opacity: 1;
        transform: translateX(-0%);
    } 

}
.img-overlay h2 span{
    color: transparent;
    -webkit-text-stroke: 1px var(--white-color);


}
/* ----------------------location search----------------------------- */
#Location-search{
    transform:translateY(-170%);
}

.form-wrapper{
    background-color:rgba(0,0,0,0.6);
    padding: 2rem;
    width: 100%;
}
form{
    display: flex;
    text-align: center;
    justify-content: center;
}
.form-control{
    width: 100%;
}
form input,select{
    padding: 0.6rem;
    outline: none;
    font-size: 1.1rem;
    border: 1px solid var(--light-grey-color);
    color: #000;
    margin: 0 0.4rem;
    border-radius: 4px;
}
/* --------------------------------about------------------------------ */
.about-content-wrapper{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-column-gap: 3rem;
    margin: 3rem 0;
}
.about-content-wrapper h2 span{
    color: var(--primary-color);
    font-family: "ubuntu";
}
.about-content-wrapper ul{
    list-style: none;
}
.about-content-wrapper ul .icons{
    display: flex;
    align-items: center;
     margin: 1rem 0;
}
.about-content-wrapper ul .icons i{
    background: var(--primary-color);
    padding: 0.8rem;
    border-radius: 50%;
    color: var(--white-color);
}
.about-content-wrapper ul p{
    margin-left: 1rem;

}
.agency-right-sides .img{
    position: relative;
}
.agency-right-sides .img img{
    width: 75%;
    height: 50%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    transition: 0.5s ease-in;
}
.agency-right-sides .img::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 55px;
    bottom: 0;
    right: 0;
    background: var(--primary-color);
    width: 70%;
    height: 100%;
    z-index: -2;

}
.agency-right-sides .img img:hover{
    transform: scale(0.95);
}
/* --------------------------choose place--------------- */
#choose-place{
    padding: 6rem 0;

}
.choose-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}
.lg-img{
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    height: 96%;
    width: 100%;
}
.lg-img:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.lg-img:hover{
    transform: scale(1.02);
}
.img-content{
    position: absolute;
    bottom: 20px;
}
.img-content h2{
    padding: 0 2rem;
    color: var(--white-color);
}
.hidden-content{
    padding: 0.5rem 2rem;
    color: var(--white-color);
    transform: translateY(120%);
    transition: all 0.5s ease-in-out;
}
.hidden-content i{
    padding: 0.2rem 0.2rem 0 0;
}
.lg-img:hover .hidden-content{
    transform: translateY(0);
} 
.price-label{
    background: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    position: absolute;
    top: 50px;
    right: 0;
    transform: rotate(-90deg);
}
.row-wise-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 100%;


}
#static-counter{
    padding: 6rem 0;
    background: url('../img/pexels-zhang-kaiyv-189833.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}
#static-counter::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
.static-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: 2rem 0;
}
.static-icons{
    color: var(--white-color);
    cursor: pointer;

}
.static-icons i{
     font-size: 3rem;
     padding: 2rem;
     border-radius: 50%;
     border: 2px solid var(--primary-color);
     cursor: pointer ;
     
}
.numbers{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
    
}
.static-icons i:hover{
    background:var(--primary-color);
    border: none;
    transform: translateY(-10%);
}
/* ---------------------- top destination---------------------------------- */
#top-destination{
    padding: 6rem 0;

}
.top-destination-wrapper{
    width: 100%;
}
.carousel{
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.carousel:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.carousel-img-overlay{
    width: 100%;
}
.hidden-content-carousel{
    padding: 0.5rem 2rem;
    transform: translateY(120%);
    transition: all 0.5s ease-in-out;
    color: var(--white-color);
}
.carousel-img-overlay i{
    padding-right: 1rem ;

}
.carousel:hover .hidden-content-carousel{
    transform: translateY(0);
}
 .carousel:hover{
    transform: scale(1.1);
}
/* --------------------------bg video------------------ */
#Switzerland-valley{
    padding: 6rem 0;
    position: relative;
}
#Switzerland-valley video{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    max-height:450px;
}
.video-bg{
    position: relative;

}
.video-bg::before{
    content: "";
    position:absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.video-content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    color: var(--white-color);

}
.video-content h2{
    font-size: 2.5rem;
    letter-spacing: 4px;
    color: var(--white-color);
    font-family: "ubuntu";
    margin-bottom: 1rem;


}
.video-content span{
    font-size: 1.2rem;
    margin: 0 1.5rem;
}
/* -----------------------tarvel countries------------------------ */
#Travel-countries{
    padding: 6rem 0;
}
.travel-countries-wrapper{
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    grid-gap: 2rem;
}
.countries-content{
    margin-top: 2rem;
}
.countries-content ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.countries-content ul li{
    margin: 1.5rem 0;
}
.countries-content ul li i{
    margin: 0rem 0.5rem;

}
.slider-content-wrapper{
    overflow:  hidden;
   /* transform: scale(1.1);  */
}
.swiper-wrapper:hover{
    transform: scale(1.1);
}
/* .carousel .swiper-slide{
    height: 100%;
    width: 100%;
} */

/* ---------------------------travel blog-------------------------- */
#Travel-blog{
    background: var(--blue-color);
    padding: 6rem 0;
}
.blog h2{
      color: var(--light-grey-color);
}
.blog{
    position: relative;
}
.blog:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}
.blog-img-overlay{
    width: 100%;
}
.blog-img-content{
    position: absolute;
    bottom: 20px;
}
.blog-img-content{
    background: rgba(0,0,0,0.8);
    width: 100%;
    padding: 2rem 1rem;
    transition: all 0.4s ease-in;
    transform: translateY(-50%);
    color: var(--white-color);
}
.blog:hover .blog-img-content{
    transform: translateY(0%);
}

/* .blog-img-content h2 sp  11an{
    color: var(--primary-color);
} */
.blog .price-label{
    transform:rotate(360deg);
}
/* ----------------------------------- travel review---------------------- */
#testimonials{
    padding: 6rem 0;
    width: 100%;
    background: url("../img/bg\ 2.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}
#testimonials .headings{
    color: var(--white-color);
}
.testimonails-wrapper{
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    color: var(--white-color);
    padding: 2rem 6rem;
}
.testimonails-wrapper i{
    color: var(--primary-color);
}
.testimonails-wrapper p{
    text-align: center;
    /* font-family:"ubuntu"; */
}
.test-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.test-img img{
    width: 20%;
    object-fit: cover;
    margin: 1rem 0;
    border-radius: 50%;
}
.icons{
    text-align: center;
}
.guest{
    font-size: 1.75rem ;
}
.Lead{
    font-family: Arial, sans-serif;
    font-size: 23px;
}
/* --------------------------footer---------------------------- */


#footer {
    padding: 6rem 0;
    background:var(--blue-color);
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--white-color);
}
.ft-content{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: var(--white-color );
}
.icon i{
    padding: 1rem;
    font-size: 2.5rem;
    background: var(--primary-color);
}
.content{
    padding: 1rem;
}
.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 0;
    grid-gap: 2rem;
    color: var(--white-color);
    margin: 4rem 0;
}
.about img{
    width: 50%;
    object-fit: cover;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons i{
    background: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1.3rem;
    border-radius: 50%;
    cursor: pointer;
}
.about .Lead{
    font-size: 0.95rem;
    margin-top: 1rem ;
}
.Links ul{
    list-style-type: none;
}
.Links ul li{
    margin: 1rem;
    font-size: 1rem;
}
.Links ul li a{
    color: var(--white-color);
    text-decoration: none;
}
.subscribe .lead{
    font-size: 1.1rem;
    letter-spacing: 1;
}
form{
    position: relative;
}
.subscribe input{
    width: 100%;
    outline: none;
    border: 1px solid var(--light-grey-color);
    padding: 0.6rem 1rem; 
}
.subscribe button{
    display: block;
    position: absolute;
    top: 10%;
    right: 4%;
    padding: 0.5rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    cursor: pointer;
    color: var(--white-color);
    font-size: 1rem;
}